<nav class="navbar navbar-expand-lg navbar-light">
  <img class="logo" src="../assets/logo.png" />
    <button (click)="isNavbarCollapsed = !isNavbarCollapsed"class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"  aria-expanded="false"  aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
<!--       <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>

      </form> -->
      <span class="my-2 my-lg-1"  *ngIf="user$ | async as user" >
          <button class="btn btn-link my-2 my-sm-0" (click)="login()"*ngIf="!user.loggedIn">Log In</button>
          <img  *ngIf="user.loggedIn" alt="Profile" class="img-thumbnail" id="profileIcon" src="{{user.picture}}" style="user-select: auto;"/>
          <p class="btn my-2 my-sm-0" *ngIf="!user.loggedIn">Welcome, {{user.nickname}}!</p>
          <button [routerLink]="['/profile']" class="btn btn-link my-2 my-sm-0" *ngIf="user.loggedIn">Welcome, {{user.name}}!</button>
          <button class="btn btn-link my-2 my-sm-0"(click)="logout()" *ngIf="user.loggedIn">Log Out</button>
        </span>
      </div>
  </nav>
